<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gorugoru</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
</head>
<body>
    <!-- header 영역  -->
    <iframe class="iframe-header" src="../view/common/admin_header.html"></iframe>
    

    <!-- content 영역  -->
    <div class="content">
        <div class="title">
            <img id="titleImage" src="../img/title.jpg" alt="타이틀 이미지">
            <h2 class="title-text">주문 리스트</h2>
        </div>
        <div class="breadcrumb">
            <a href="admin_order_list.html">주문 관리</a> > 주문 리스트
        </div>
        <div class="product-table-container">
            <table class="product-table">
                <tr>
                    <th>주문 번호</th>
                    <th>이미지</th>
                    <th>상품명</th>
                    <th>원산지</th>
                    <th>가격</th>
                    <th>수량</th>
                    <th>상세보기</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td><img id="titleImage" src="../img/thumbnail_01.jpg" alt="썸네일 이미지"></td>
                    <td>당도 보장 충주 사과(2Kg)</td>
                    <td>충주</td>
                    <td>10,000원</td>
                    <td>50</td>
                    <td><a href="#">상세보기</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><img id="titleImage" src="../img/thumbnail_01.jpg" alt="썸네일 이미지"></td>
                    <td>당도 보장 충주 사과(2Kg)</td>
                    <td>충주</td>
                    <td>10,000원</td>
                    <td>50</td>
                    <td><a href="#">상세보기</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><img id="titleImage" src="../img/thumbnail_01.jpg" alt="썸네일 이미지"></td>
                    <td>당도 보장 충주 사과(2Kg)</td>
                    <td>충주</td>
                    <td>10,000원</td>
                    <td>50</td>
                    <td><a href="#">상세보기</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><img id="titleImage" src="../img/thumbnail_01.jpg" alt="썸네일 이미지"></td>
                    <td>당도 보장 충주 사과(2Kg)</td>
                    <td>충주</td>
                    <td>10,000원</td>
                    <td>50</td>
                    <td><a href="#">상세보기</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><img id="titleImage" src="../img/thumbnail_01.jpg" alt="썸네일 이미지" width="50px"></td>
                    <td>당도 보장 충주 사과(2Kg)</td>
                    <td>충주</td>
                    <td>10,000원</td>
                    <td>50</td>
                    <td><a href="#">상세보기</a></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><img id="titleImage" src="../img/thumbnail_01.jpg" alt="썸네일 이미지" width="50px"></td>
                    <td>당도 보장 충주 사과(2Kg)</td>
                    <td>충주</td>
                    <td>10,000원</td>
                    <td>50</td>
                    <td><a href="#">상세보기</a></td>
                </tr>
            </table>
        </div>
    </div>

    <!-- footer 영역  -->
    <iframe class="iframe-footer" src="../view/common/footer.html"></iframe>
    
</body>
</html>